#site-header {
    background-color: #ae5976;
    color: #000000;
} 

/*
#ae5976
#d2a2b2
 #site-nav-menu {
    background-color: #d2a2b2;
    color: #ffffff;
}
*/
#site-nav .flyout-menu .link  {
    background-color: #ae5976;
    color: #ffffff;
}

#site-nav .flyout-menu .link:hover  {
    background-color: #d2a2b2;
    color: #ffffff;
}


.button:hover
{
    color: #ae5976 !important;
    border: solid 1px #ae5976;
}

a:hover{
    color: #d2a2b2;
}

a.button:hover
{
    color: #d2a2b2 !important;
}

::selection {
    background: #d2a2b2; 
    text-shadow: none;
}

