.button:hover
{
    color: #ae5976 !important;
    border: solid 1px #ae5976;
}

a:hover{
    color: #ae5976;
}

a.button:hover
{
    color: #ae5976 !important;
}

::selection {
    background: #d2a2b2;
    text-shadow: none;
}