body{
	background-color: #EED58E;
}

h1 {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 1;
}

h2 {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 1.3;
}

h3,h4,h5,h6 {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 1.65;
}

#site-footer .copyright {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 3;
	font-size: .5em;
}

a {
	border-bottom:dotted 2px rgba(80, 80, 80, 0.753)
}

.table {
	display: table;
	border-collapse:collapse;
	width: 100%;
}

.table-row {
	display: table-row;

}

.table-cell {
	display: table-cell;
	padding: 1px;
}

.thead {
	font-weight: bold;
	background:#eee;
}
 @media only screen and (max-width: 800px) {

	.table {border:none;}
	
	.table-row,
	.table-cell {
		display: block;
	}
	
	.table-row { margin-bottom: 5px; }
	
}