body{
	/* Hintergrund background-color: #EED58E;*/
}

h1 {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 1;
}

h2 {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 1.1;
	letter-spacing: 0em;
	font-size: 1.05em;
}

h3,h4,h5,h6 {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 1.65;
}

#site-footer .copyright {
	font-family: Raleway Regular,Helvetica,sans-serif;
	line-height: 3;
	font-size: .55em;
}

a {
	border-bottom:dotted 2px rgba(80, 80, 80, 0.753)
}

.nav {
	font-weight: bold;
	color:#eef;
	font-size: .7em;
}

/*
#site-nav .flyout-menu .link  {
    background-color: rgba(80, 80, 80, 0.753);
    color: #ffffff;
}

#site-nav .flyout-menu .link:hover  {
    background-color: rgba(80, 80, 80, 0.753);
    color: #ffffff;
}
*/

.table {
	display: table;
	border-collapse:collapse;
	width: 100%;
}

.table-row {
	display: table-row;

}

.table-cell {
	display: table-cell;
	padding: 1px;
}

.thead {
	font-weight: bold;
	background:#eee;
}
 @media only screen and (max-width: 800px) {

	.table {border:none;}
	
	.table-row,
	.table-cell {
		display: block;
	}
	
	.table-row { margin-bottom: 5px; }
	
}